html.theme-dark .group-wWM3zP_M-{
    background-color: #192330
}
html.theme-dark .chart-page{
    background: #192330;
}
html.theme-dark .chart-page .chart-container{
    background-color: #192330;
    border-color: #192330;
}
html.theme-dark .container-3_8ayT2Q- .background-Q1Fcmxly-{
    stroke: #192330;
    fill: #192330;
}
