/bin/
bin
out
log.txt
settings.xml
README.md
.git
.idea
*.iml
/target
src/main/webapp/config.js
src/main/webapp/index.html
src/main/webapp/favicon.ico
src/main/webapp/js
src/main/webapp/img
src/main/webapp/fonts
src/main/webapp/datafeeds
src/main/webapp/css
src/main/webapp/charting_library