.title-box {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    a {
        color: #196bdf;
    }
    span {
        color: #1c242c;
    }
}