.my-date {
    .el-input {
        font-size: 12px;
        padding: 0;
        width: 130px;
    }
    .time {
        color: #718bab;
        font-size: 12px;
        margin-right: 10px;
    }
    .deliver {
        margin: 0 10px;
    }
}