<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址 或者Mapper的地址 -->
<mapper
        namespace="com.pmzhongguo.ex.business.mapper.WarehouseDetailMapper">


    <resultMap id="WarehouseDetaiMap" type="com.pmzhongguo.ex.business.entity.WarehouseDetail">
        <id column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="wh_account_id" property="whAccountId"/>
        <result column="currency" property="currency"/>
        <result column="type" property="type"/>
        <result column="pre_account" property="preAccount"/>
        <result column="flot_account" property="flotAccount"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>

    </resultMap>
    <select id="selectWarehouseDetailPage" resultMap="WarehouseDetaiMap"
            parameterType="java.util.Map">
        select *
        from m_warehouse_detail
        where 1=1
        <if test="id != null and id != ''">
            and id=#{id}
        </if>
        <if test="memberId != null and memberId != ''">
            and member_id=#{memberId}
        </if>
        <if test="whAccountId != null and whAccountId != ''">
            and wh_account_id=#{whAccountId}
        </if>
        <if test="currency != null and currency != ''">
            and currency=#{currency}
        </if>
        <if test="preAccount != null and preAccount != ''">
            and pre_account=#{preAccount}
        </if>
        <if test="type != null and type != ''">
            and `type`=#{type},
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time=#{createTime}
        </if>
        <if test="createBy != null and createBy != ''">
            and create_by=#{createBy}
        </if>
        <if test="updateBy != null and updateBy != ''">
            and update_by=#{updateBy}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and update_time=#{updateTime}
        </if>
        <if test="isDeleted != null and isDeleted != ''">
            and is_deleted=#{isDeleted}
        </if>
    </select>
    <insert id="insetWarehouseDetail" parameterType="com.pmzhongguo.ex.business.entity.WarehouseDetail">
        insert into m_warehouse_detail
        (member_id,wh_account_id,currency,pre_account,flot_account,create_time,create_by,update_by,update_time,is_deleted,`type`,unique_detail)
        values
        (#{memberId},#{whAccountId},#{currency},#{preAccount},#{flotAccount},#{createTime},#{createBy},#{updateBy},#{updateTime},#{isDeleted},#{type},#{uniqueDetail})
    </insert>
</mapper>